#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#rock,
#paper,
#scissors {
  position: relative;
}

#rock:hover,
#paper:hover,
#scissors:hover {
  bottom: 50px;
}