 @import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
 
 :root {
  font-family: DynaPuff, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0 auto;
  padding: 2rem;
  background-color: #FFE3DB;
}

h1 {
  font-size: 2.2em;
  color: rgb(128, 96, 55);
}

header {
  font-size: 5rem;
  color: rgb(255, 255, 255);
}

.header-div {
  display: flex;
  justify-content: center;
}

/* RESPONSIVE */

@media (max-width: 800px) {

  header {
      font-size: 3rem;
    }
}

@media (max-width: 600px) {
  header {
    font-size: 2rem;
  }
}

@media (max-width: 400px) {
  header {
    font-size: 1.4rem;
  }
}